                   <div class="container" ng-controller="QuizController">

                <form ng-submit="evaluateQuiz()" name = "QuizForm" novalidate>

<h2 style="text-align:center;">{{mydish.titolo}}</h2>
<div class="row" ng-repeat = "domanda in mydish.domande">

<div class="col col-xs-12 col-sm-4 ">
	<h4>{{domanda.id}}=>{{domanda.titolo}}
</h4><h3>Punteggio per questa risposta{{domanda.punteggio}}</h3>
<h2 ng-if="domanda.tipologia == 'text' && domanda.fornita ==undefined">Devi rispondere
a questa domanda</h2>
<h2 ng-if="domanda.tipologia == 'radio' && domanda.scelta ==undefined">Devi rispondere
a questa domanda</h2>
<div class="col col-xs-12 col-sm-8">
	
	<div class="radio" ng-repeat = "risposta in domanda.risposte">
	  <div class="form-group" ng-if='domanda.tipologia=="radio"'  >
  <input type="radio" required ng-model ="domanda.scelta"  name="{{risposta.id}}" ng-value ="{{risposta.id}}"/><p style="font-size:14px">{{risposta.risposta}}</p>
</div>
</div>
  <div class="form-group" ng-if='domanda.tipologia=="text"' >
 
<textarea required ng-model = "domanda.fornita" class="form-control" name="{{domanda.id}}" id="{{domanda.id}}"  ng-value="{{domanda.fornita}}"
 >Inserisci risposta alla domanda {{domanda.id}} </textarea>
</div>

</div>

</div>
</div>


                            <a class="btn btn-primary" ng-disabled ="QuizForm.$invalid" href="#/risultati/{{mydish.id}}">Avvia la correzione</a>

</form>
    </div>
    
    
    
   
   
                    
            

                       
                        
                        
            
             
      

